---
layout: default
title: Main Page
---

{% for post in site.posts limit: 5 %}
<div class="post_info">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p>Created on {{ post.date | date:"%d/%m/%y" }}. Tags: {{ post.tags | array_to_sentence_string }}</p>
</div>

<div class="post">
  <hr />
  {{ post.content }}
</div>

<br />
{% endfor %}

{% if site.posts.size > 5 %}
<div class="post_info">
  <h3>Older Posts</h3>
</div>

<div class="post">
  <ul class="posts">
    {% for p in site.posts offset: 5 %}
    <li>&raquo; <a href="{{ p.url }}">{{ p.title }}</a> ({{ p.date | date_to_string }})</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<!-- vim: set sw=2 sts=2 et : -->
