<div id="sidebar">
  <h3>What's this?</h3>
  <p>It's the weblog of <a href="/about/">Ulrik Bonde</a>. Here I might post
  notes regarding programming, free software and stuff<sup>TM</sup>.</p>

  <h3>Public key</h3>
  <ul>
    <li><a href="/key/">Info</a></li>
    <li><a href="/key/79f9badc.asc">79f9badc</a></li>
  </ul>

  <h3>Also me...</h3>
  <ul>
    <li><a href="http://www.linkedin.com/in/ulrikbonde">LinkedIn</a></li>
    <li><a href="http://www.facebook.com/ulrik.bonde">Facebook</a></li>
  </ul>

  <h3>Future top menu</h3>
  <ul>
    <li><a href="/about/">about</a></li>
    <li><a href="/projects/">projects</a></li>
    <li><a href="/archive/">archive</a></li>
    <li><a href="/cv/">cv</a></li>
  </ul>
</div>

<!-- vim: set sw=2 sts=2 et : -->
