<div id="sidebar">
  <h3>What's this?</h3>
  <p>It's the weblog of <a href="/about/">Ulrik Bonde</a>. Here I might post
  notes regarding programming, free software and stuff<sup>TM</sup>.</p>
  
  <h3>Public key</h3>
  <ul>
    <li><a href="/key/">Info</a></li>
    <li><a href="/key/79f9badc.asc">79f9badc</a></li>
  </ul>

  <h3>Todo</h3>
  <ul>
    <li>Style sheets - somewhat done</li>
    <li>CV</li>
    <li>Add content</li>
  </ul>
  <div id="icons">
  </div>
</div>

<!-- vim: set sw=2 sts=2 et : -->
