<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{{ site.title }} :: {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles/default.css" media="screen" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/">{{ site.title }}</a></h1>
    </div>

    <div id="content">
      {{ content }}
    </div>

    {% include menu.html %}

    <div id="footer">
      <p>Ulrik Bonde 2009</p>
    </div>

  </body>
</html>

<!-- vim: set sw=2 sts=2 et : -->
