---
layout: default
---

<div class="post_info">
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <p>Created on {{ page.date | date:"%d/%m/%y" }}. Tags: {{ page.tags | array_to_sentence_string }}</p>
</div>

<div class="post">
  <hr />
  {{ content }}

  <div id="related">
    <h4>Related Posts</h4>
    <ul class="posts">
      {% for p in site.related_posts limit:3 %}
      <li>&raquo; <a href="{{ p.url }}">{{ p.title }}</a> ({{ p.date | date_to_string }})</li>
      {% endfor %}
    </ul>
    <hr />
  </div>

  <div id="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/bonde/embed.js"></script>
    <noscript><a href="http://bonde.disqus.com/?url=ref">View the discussion thread.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>

<!-- vim: set sw=2 sts=2 et : -->
